*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #e8f5f2;
  color: #333333;
}

.width-wrap {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 3em;
  background-color: #ffffff;
}

h1, h2, h3 {
  color: #00796b;
}

a {
  color: #1e88e5;
  text-decoration: none;
}

header nav a {
  color: #004d40;
}

footer hr {
  width: clamp(300px, 50vw, 890px);
  margin-top: 3em;
  margin-bottom: 2em;
  border: none;
  border-bottom: 3px dotted #4682b4;
}

dt::after {
  content: ":";
}

::selection {
  background-color: #b2dfdb;
}

header {
  border-top: 4px solid rgba(0, 0, 0, 0.1);
  margin-left: -2em;
  margin-right: -2em;
}

header nav {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  padding-left: 2em;
  padding-right: 2em;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  display: inline-block;
  border-top: 4px solid transparent;
  padding-top: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

header nav ul li a:hover {
  border-top-color: #00796b;
}

/* Table Styling */
table th,
table td {
  padding: 0.3em 1em;
}

thead th,
tfoot th,
tbody th {
  background-color: rgba(0, 0, 0, 0.2);
}

tbody td {
  background-color: rgba(0, 0, 0, 0.05);
}

tbody tr:nth-child(even) td {
  background-color: rgba(0, 0, 0, 0.15);
}

/* Form Styling */
form label {
  display: block;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline;
}

input[type="submit"],
button[type="submit"] {
  border: none;
  padding: 1em 3em;
  background-color: #00796b;
  color: #ffffff;
  cursor: pointer;
}

input:invalid,
textarea:invalid,
select:invalid {
  background-color: #ffe6e6;
}
